body {
  background-color: azure;
}

h1 {
  color: darkslategray;
  font-family: "Lucida Console";
}

p {
  color: darkslategray;
  font-family: "Lucida Console";
}

ul {
  color: darkslategray;
  font-family: "Lucida Console";
}

/* unvisited link */
a:link {
  color: darkgray;
}

/* visited link */
a:visited {
  color: dimgray;
}

/* mouse over link */
a:hover {
  color: gray;
}

/* selected link */
a:active {
  color: gray;
}
