body {
  background-color: azure;
}

h1 {
  color: darkslategray;
  font-family: Georgia;
}

h2 {
  color: darkslategray;
  font-family: Georgia;
}

p {
  color: darkslategray;
  font-family: Georgia;
}

ul {
  color: darkslategray;
  font-family: Georgia;
}

/* unvisited link */
a:link {
  color: darkgray;
}

/* visited link */
a:visited {
  color: dimgray;
}

/* mouse over link */
a:hover {
  color: gray;
}

/* selected link */
a:active {
  color: gray;
}

/* adding indent */
div.a {
  text-indent: 50px;
}

/* list indent */
.customIndent {
  padding-left: 50px;
}
